.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login h2{
    color: #ce1471;
    margin-bottom: 2rem;

}
.formulario label{
    color: #00b5d8;
}
.formulario .lbutton{
    border: 1px solid yelow;
    color: #00d3fdf1;
    background-color:rgb(112, 3, 58);
    padding: 5px;
    margin-top: 2rem;
    font-weight: bolder;

}
.formulario{
    margin-bottom: 4rem;
}
@media (max-width: 992px){
    .formulario input{
        width: 14rem;
    }
}
@media(max-width: 768px){
    .formulario input{
        width: 12rem;
    }
}
@media(max-width: 576px){
    .formulario input{
        width: 10rem;
    }
}
