.main{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}
.main .h2{
    color:  #ff37bc ; 
    font-size: 3rem;
}

.main .gallery{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
    flex-wrap: wrap;   
    gap: 2rem;
}

@media (max-width: 992px){
    .main .h2{
        color:  #ff37bc ; 
        font-size: 2.5rem;
    }
}
@media(max-width: 768px){
    .main .h2{
        color:  #ff37bc ; 
        font-size: 2.1rem;
    }
}
@media(max-width: 576px){
    .main .h2{
        color:  #ff37bc ; 
        font-size: 1.8rem;
    }
}